<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boilerride.com.boilerride">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pu_train"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXF1Z8T1KdV24MPH2grx2Tw78WNe_y_co" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CreateRideActivity"
            android:label="New ride" />
        <activity
            android:name=".MapsActivity"
            android:label="BoilerRide" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ShowRidesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPwdActivity"
            android:label="@string/title_activity_reset_pwd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RideActivity"
            android:label="@string/title_activity_ride"
            android:parentActivityName=".ShowRidesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boilerride.com.boilerride.ShowRidesActivity" />
        </activity>

        <receiver android:name=".NotificationPublisher" />

        <activity
            android:name=".RideCreatorActivity"
            android:label="@string/title_activity_ride_creator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RateDriverActivity"
            android:label="@string/title_activity_rate_driver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RatePassengerActivity"
            android:label="@string/title_activity_rate_passenger"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RidePassengerListActivity"
            android:label="@string/rate_passenger_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RidePassengerProfileActivity"
            android:label="@string/rate_passenger_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
